parameters:
	ignoreErrors:
		-
			message: '#^Method Quillstack\\Stream\\InputStream\:\:__construct\(\) has parameter \$contest with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/InputStream.php

		-
			message: '#^Method Quillstack\\Stream\\InputStream\:\:__toString\(\) should return string but returns string\|null\.$#'
			identifier: return.type
			count: 1
			path: src/InputStream.php

		-
			message: '#^Method Quillstack\\Stream\\InputStream\:\:close\(\) with return type void returns false but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/InputStream.php

		-
			message: '#^Method Quillstack\\Stream\\InputStream\:\:detach\(\) should return resource\|null but returns string\|null\.$#'
			identifier: return.type
			count: 1
			path: src/InputStream.php

		-
			message: '#^Method Quillstack\\Stream\\InputStream\:\:rewind\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/InputStream.php

		-
			message: '#^Method Quillstack\\Stream\\InputStream\:\:seek\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/InputStream.php

		-
			message: '#^Method Quillstack\\Stream\\InputStream\:\:write\(\) should return int but returns false\.$#'
			identifier: return.type
			count: 1
			path: src/InputStream.php

		-
			message: '#^Parameter \#1 \$string of function strlen expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/InputStream.php
